@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:wght@100;300;400;500;700&family=Roboto:ital,wght@0,100;0,400;0,500;1,700&display=swap');


* {
    margin: 0px;
    padding: 0px;
}

* main {
    margin: 0px;
    padding: 0% 5%;
    background-color: #a0a5a7;
}

.mi1 {

    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

.mi2 {

    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.mi3 {

    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

.mi4 {
    font-family: 'Roboto Serif', serif;
    font-weight: 400;
}

#cabeceralogo {
    width: 96%;
    height: 150px;
    padding: 0% 2%;
    background-color: #0F76A0;
}

#cabeceralogo>div {
    max-width: 960px;
    margin: 0px auto;
    padding-top: 45px;
}

#cabeceralogo h1 {
    font: bold 54px Arial, sans-serif;
    color: #FFFFFF;
}

#menuprincipal {
    width: 96%;
    height: 50px;
    padding: 0% 2%;
    background-color: #9FC8D9;
    border-top: 1px solid #094660;
    border-bottom: 1px solid #094660;
}

#menuprincipal>div {
    max-width: 960px;
    margin: 0px auto;
}

#menuprincipal li {
    display: inline-block;
    height: 35px;
    padding: 15px 10px 0px 10px;
    margin-right: 5px;
}

#menuprincipal li:hover {
    background-color: #6FACC6;
}

#menuprincipal a {
    font: bold 18px Arial, sans-serif;
    color: #333333;
    text-decoration: none;
}


main>div {
    max-width: 960px;
    margin: 0px auto;

}
.carousel-wrapper {
    height: 190px;
    position: relative;
    width: 400px;
    display: block;
    margin: 50px auto;
    border: 2px solid black;
}

.carousel-item {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 25px 50px;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 4px;
}

.arrow-prev {
    left: 30px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(135deg);

}

.arrow-next {
    right: 30px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
}

[id^="item"] {
    display: none;
}

.item-1 {
    z-index: 2;
    opacity: 1;
    background: url('img2/p2.jfif');
    background-size: cover;
}

.item-2 {
    background: url('img2/p3.jfif');
    background-size: cover;
}

.item-3 {
    background: url('img2/p1.jfif');
    background-size: cover;
}

*:target~.item-1 {
    opacity: 0;
}

#item-1:target~.item-1 {
    opacity: 1;

}

#item-2:target~.item-2,
#item-3:target~.item-3 {
    z-index: 3;
    opacity: 1;
}
@media (max-width: 720px) {
    #articulosprincipales {
        width: 100%;
        margin-right: 0px;
    }

    #infoadicional {
        width: 90%;
        padding: 5%;
        margin-top: 20px;
    }
}

#infoadicional {
    flex: 1;
    max-width: 280px;
    padding: 2%;
    background-color: #E7F1F5;
    border-radius: 10px;
}
#articulosprincipales {
    flex: 1;
    margin-right: 20px;
    padding-top: 30px;
    
}
#infoadicional h1 {
    font: bold 18px Arial, sans-serif;
    color: #333333;
    margin-bottom: 15px;
}

.recuperar {
    clear: both;
}

article {
    position: relative;

    padding: 0px 40px 20px 40px;
}

article p {
    font: 18px Georgia, sans-serif;
}

figure {
    margin: 10px 0px;
}



#pielogo {
    width: 96%;
    padding: 2%;
    background-color: #0F76A0;
}

#pielogo>div {
    max-width: 960px;
    margin: 0px auto;
    background-color: #9FC8D9;
    border-radius: 10px;
}

.seccionpie {
    float: left;
    width: 27.33%;
    padding: 3%;
}

.seccionpie h1 {
    font: bold 20px Arial, sans-serif;
}


.seccionpie p {
    margin-top: 5px;
}

.seccionpie a {
    font: bold 16px Arial, sans-serif;
    color: #666666;
    text-decoration: none;
}

@media (max-width: 1120px) {
    article time {
        position: static;
        width: 100%;
        padding: 0px;
        margin-bottom: 10px;
        background-color: #FFFFFF;
        box-shadow: 0px 0px 0px;
        border-radius: 0px;
    }

    .numerodia {
        display: inline-block;
        font: bold 14px Verdana, sans-serif;
        color: #999999;
        padding-right: 5px;
    }

    .nombredia {
        display: inline-block;
        font: bold 14px Verdana, sans-serif;
        color: #999999;
    }

    article h1 {
        margin-bottom: 0px;
    }
}

#menuicono {
    display: none;
    width: 95%;
    height: 38px;
    padding: 12px 2% 0px 3%;
    background-color: #9FC8D9;
    border-top: 1px solid #094660;
    border-bottom: 1px solid #094660;
}

@media (max-width: 480px) {
    #menuprincipal {
        display: none;
        width: 100%;
        height: 100%;
        padding: 0%;
    }

    #menuprincipal li {
        display: block;
        margin-right: 0px;
        text-align: center;
    }

    #menuicono {
        display: block;
    }

    .seccionpie {
        width: 94%;
        text-align: center;
    }

    #cabeceralogo>div {
        text-align: center;
    }
}